<ng-container>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <div class="mt-5 mx-4">
                <div class="card text-center">
                    <div class="card-header">
                        Noticias
                    </div>
                    <div class="card-body" id="BodyNoticias">
                        <h5 class="card-title">Modulo de Noticias</h5>
                        <p class="card-text">Aqui podra Inspeccionar las noticias para aprobación</p>
                        <a href="#" class="btn btn-primary" [routerLink]="['noticias']">Go To Noticias</a>
                    </div>
                </div>
            </div>
            <div class="mt-5 mx-4">
                <div class="card text-center">
                    <div class="card-header">
                        Usuarios
                    </div>
                    <div class="card-body" id="BodyUsuarios">
                        <h5 class="card-title">Modulo de Usuarios</h5>
                        <p class="card-text">Aqui podra ver quien se ha registrado</p>
                        <a href="#" class="btn btn-primary" [routerLink]="['usuarios']">Go To Usuarios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <div class="mt-5 mx-4">
                <div class="card text-center">
                    <div class="card-header">
                        Comentarios
                    </div>
                    <div class="card-body" id="BodyComentarios">
                        <h5 class="card-title">Modulo de Comentarios</h5>
                        <p class="card-text">Aqui podra leer todos los comentarios hechos y el titulo de la noticia en el que se hizo</p>
                        <a href="#" class="btn btn-primary" [routerLink]="['comentarios']">Go To Comentarios</a>
                    </div>
                </div>
            </div>
            <div class="mt-5 mx-4">
                <div class="card text-center">
                    <div class="card-header">
                        Reportes
                    </div>
                    <div class="card-body" id="BodyReportes">
                        <h5 class="card-title">Modulo de Reportes</h5>
                        <p class="card-text">Aqui podra leer todos los reportes y cambiar su estado</p>
                        <a href="#" class="btn btn-primary" [routerLink]="['reportes']">Go To Reportes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>