<ng-container>
    <div class="row">
        <div class="col">
            <div class="card border-success mb-3">
                <div class="card-header">Usuario Id: {{usuario._id}}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Nick de usuario: {{usuario.nick}}</h5>
                    <p class="card-text">Nombre: {{usuario.Nombre}} {{usuario.Apellido}}</p>
                    <p class="card-text">Email: {{usuario.Email}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>